body {
    font-family: Arial, sans-serif;
    background: Beige
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: LightGray;
    font-size: 18px;
}
.arrow {
    user-select: none;
    cursor: pointer;
}
.header {
    position: sticky;
    top: 0;
    background-color: Tan;
}
.selected {
    background-color: lightgreen;
}

#clearSelectionButton {
    background-color: lightblue;
}

#clearSelectionButton:enabled {
    background-color: gold;
}

#clearSelectionButton:hover {
    background-color: orange;
}

#clearSelectionButton:active {
    background-color: darkorange;
}

input[type=text], input[type=datetime-local] {
    max-width: 500px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus, input[type=datetime-local]:focus {
    border: 5px solid #555;
}

label {
    display: block;
    margin-top: 20px;
}
button {
    font-weight: bold; /* Bold text */
    background-color: #add8e6; /* Pale blue background */
    border: none;
    color: black;
    padding: 15px 32px; /* Larger size */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; /* Rounded corners */
}

button:hover {
    background-color: #87ceeb; /* Highlight on hover */
}

button:active {
    outline: none; /* No outline on click */
    box-shadow: 0 0 0 2px #000; /* Outline effect using box-shadow */
}
table tr td:first-child input[type="checkbox"] {
    display: none;
}

img {
    width: 150px; /* or any desired width */
    height: 100px; /* or any desired height */
    object-fit: cover; /* this makes the image cover the entire space of the defined width and height */
}


